/* body{
    transition: background-color 1s ease
} */

body {
    /* background: repeating-linear-gradient(90deg, #ffde22, #5eb546); */
    
    transition-property: background-color;
    transition-duration: 3s;
  }
.changeZoneClass{
    font-family: trim-semibold;
    text-transform: uppercase;
    font-size: 17px;
}
  @font-face {
    font-family: trim-semibold;
    src: url(Trim-SemiBold.otf);
  }

  @font-face{
    font-family: sfThinkMono;
    src: url(SF_Think-Mono.otf);
}


  .nav-link{
      font-family: trim-semibold;
  }
.padding-right-nav{
    /* background-color: #5eb546; */
    padding-left: 70%;
    padding-right: 20%;
    border: 1px yellow solid;
}
.navbar-light .navbar-nav .nav-link{
    color:#fde146;
    font-weight:900;
    font-size: large;
}
#logo_image{
    width: 219px;
    height: 59.851px;
}
#social-media{
    margin-left: 72% ;
}

#time{
   
    font-family: sfThinkMono;
    font-size: 48px;
   
}

#navColor{
    
    transition-property: background-color;
    transition-duration: 3s;
   
}
.fa-play:before {
    color: black;
}
#rj-player .rjp-player-container .jp-play, #rj-player .rjp-player-container .jp-pause {
    background: none;
}

#rj-player .rjp-player-container  {

    background: none;
}

#rj-player .player-v3.player-medium{
    background: none;
}
.marginLeft{
    margin-left: 5%;
}
#rj-player .rjp-player-container .jp-volume-bar-wrapper {

    bottom: 20px;
}

#rj-player .rjp-player-container .jp-mute, #rj-player .rjp-player-container .jp-unmute {
    line-height: 1.5;
    bottom: 20px;
    background: #9b6c61;
    width: 40px;
}

#rj-player .player-v3.player-medium .rjp-player-container{
    position: relative;
    margin-top: -2%;
    margin-left: -5%;
}

#rjp-chat{
    margin-top: 10%;
    margin-left: -7%;
    
}
#chatText{
    height: 0;
    font-family: 'Ribeye', cursive;
    font-size: 2rem;
}

#textVideo{
    font-family: 'Ribeye', cursive;
}

*, ::after, ::before {
    max-width: 100%;
}


#logoContainer{
    margin-top: 7%;
}

.alert{
    font-size: 10px;
}

div.modal-content{
    background: black;
    color: white;
    
}

#georgekimg{
    width: 100px;
    height: 100px;
}
.h1NoRem{
    font-size: 1em;
}

button.close{
    color: white;
}

div.modal-content.container{
    align-items: baseline;
}


.modal-content {
    padding-left: 4%;
    padding-right: 4%;

}

.paddingLeft{
    padding-left: 20px;
}
.paddingLogo{
    padding-left: 10px;
}

div#facebook-login.alert.alert-info{
    font-size: 10px;

}

.rjp-label{
    color: black;
}

form{
    width: 300px;
    
}

input{
    max-width: 100%;
}

textarea{
    resize: vertical;
    max-height: 100px;
}

.modal-backdrop.show {
    opacity: 0;
}

.blockclass {
    display: block;
}
form.contact-form{
    width: 100%;
}
input.blockclass{
    width: inherit;
    margin-top: 1%
}
textarea.blockclass{
    width: inherit;
    margin-top: 1%
}
button.blockclass{
    margin-top: 1%
}



html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
      background-color: #434343;
      background-image:linear-gradient(#434343, #282828);
  }
  #content{
      background-color: transparent;
      background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;
  }
  
  .follow-me {
    position:absolute;
    bottom:10px;
    right:10px;
    text-decoration: none;
    color: #FFFFFF;
  }