/* body{
    transition: background-color 1s ease
} */

@font-face{
font-family: time-lemoni;
src: url(SF_Think-Mono.otf);
}

@font-face {
    font-family: trim-semibold;
    src: url(Trim-SemiBold.otf);
}

.ulWidth{
    width: 100%;
    text-align: right;
}
   
body {
    /* background: repeating-linear-gradient(90deg, #ffde22, #5eb546); */

    transition-property: background-color;
    transition-duration: 3s;

  }
.fontTrim{
    font-family: trim-semibold;
}
.fontTime{
font-family: time-lemoni;
}
.changeZoneClass{
    font-family: trim-semibold;
    text-transform: uppercase;
    font-size: 17px;
    /* margin-top: 25px; */
}



.nav-link{
      font-family: trim-semibold;
      /* Margin right had already 9 px with padding etc =63-9 =54px */
      margin-right: 54px; 
     font-size: 18px;
  }
.padding-right-nav{
    /* background-color: #5eb546; */
    padding-left: 50%;
    
    /* padding-right: 20%; */
    /* border: 1px yellow solid; */
}
.navbar-light .navbar-nav .nav-link{
    color:#fde146;
    font-weight:900;
    font-size: 18px
}
.navbar {
    min-height: 62.57px;
    width: 100%;
  }
  
  
#content{
    background-color: transparent;
    background-size:80px 80px;
}

#content.energetic {
    background-image: linear-gradient(0deg, transparent 24%, 
                    rgba(251,226,70, 1) 25%, 
                    rgba(251,226,70, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    75%, 
                    rgba(255, 255, 255, 0) 75%, 
                    transparent 77%, transparent), 
                    
                    linear-gradient(90deg, transparent 24%, 
                    rgba(251,226,70, 1) 25%, 
                    rgba(251,226,70, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    76%, 
                    transparent 77%, 
                    transparent);
}

#content.twilight {
    background-image: linear-gradient(0deg, transparent 24%, 
                    rgba(191,30,46, 1) 25%, 
                    rgba(191,30,46, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    75%, 
                    rgba(255, 255, 255, 0) 75%, 
                    transparent 77%, transparent), 
                    
                    linear-gradient(90deg, transparent 24%, 
                    rgba(191,30,46, 1) 25%, 
                    rgba(191,30,46, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    76%, 
                    transparent 77%, 
                    transparent);
}

#content.mellow {
    background-image: linear-gradient(0deg, transparent 24%, 
                    rgba(119, 206, 217, 1) 25%, 
                    rgba(119, 206, 217, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    75%, 
                    rgba(255, 255, 255, 0) 75%, 
                    transparent 77%, transparent), 
                    
                    linear-gradient(90deg, transparent 24%, 
                    rgba(119, 206, 217, 1) 25%, 
                    rgba(119, 206, 217, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    76%, 
                    transparent 77%, 
                    transparent);
}

#content.deep {
    background-image: linear-gradient(0deg, transparent 24%, 
                    rgba(127,63,152, 1) 25%, 
                    rgba(127,63,152, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    75%, 
                    rgba(255, 255, 255, 0) 75%, 
                    transparent 77%, transparent), 
                    
                    linear-gradient(90deg, transparent 24%, 
                    rgba(127,63,152, 1) 25%, 
                    rgba(127,63,152, 1) 26%, 
                    transparent 27%, 
                    transparent 74%, 
                    76%, 
                    transparent 77%, 
                    transparent);
}



#social-media{
    margin-left: 220% ;
}

#time{

    font-family: time-lemoni;
    font-size: 1.2rem;
    

}


#navColor{

    transition-property: background-color;
    transition-duration: 3s;

}
.fa-play:before {
    color: black;
}
#rj-player .rjp-player-container .jp-play, #rj-player .rjp-player-container .jp-pause {
    background: none;
}

#rj-player .rjp-player-container  {

    background: none;
}

#rj-player .player-v3.player-medium{
    background: none;
}
.marginLeft{
    margin-left: 5%;
}
#rj-player .rjp-player-container .jp-volume-bar-wrapper {

    bottom: 35px;
}

#rj-player .rjp-player-container .jp-mute, #rj-player .rjp-player-container .jp-unmute {
    line-height: 1.5;
    bottom: 20px;
    background: transparent;
    width: 40px;
}

#rj-player .player-v3.player-medium .rjp-player-container{
    position: relative;
    margin-top: -2%;
    margin-left: -5%;
}

#rjp-chat{
    margin-top: 10%;
    margin-left: -7%;

}
#chatText{
    height: 0;
    font-family: trim-semibold;
    font-size: 1.5rem;
}

#textVideo{
    font-family: trim-semibold;
}

*, ::after, ::before {
    max-width: 100%;
}


#logoContainer{
    margin-top: 7%;
    display: flex;
}

.alert{
    font-size: 10px;
}

div.modal-content{
    background: black;
    color: white;

}

#georgekimg{
    width: 100px;
    height: 100px;
}
.h1NoRem{
    font-size: 1em;
}

button.close{
    color: white;
}

div.modal-content.container{
    align-items: baseline;
}


.modal-content {
    padding-left: 4%;
    padding-right: 4%;

}

.marginLeft{
    margin-left: 32px;
}
.paddingLogo{
    padding-left: 32px;
    margin-bottom: 10px;
    
}

div#facebook-login.alert.alert-info{
    font-size: 10px;

}

.rjp-label{
    color: black;
}

form{
    width: 300px;

}

input{
    max-width: 100%;
}

textarea{
    resize: vertical;
    max-height: 100px;
}

.modal-backdrop.show {
    opacity: 0;
}

.blockclass {
    display: block;
}
form.contact-form{
    width: 100%;
}
input.blockclass{
    width: inherit;
    margin-top: 1%
}
textarea.blockclass{
    width: inherit;
    margin-top: 1%
}
button.blockclass{
    margin-top: 1%
}

.rjp-trackinfo-container{
  margin-left: 5px
}


img.chat_image{
  visibility: hidden;
}

.lemoniTestModeP{
  text-align: center;
  font-size: 2rem;
}

.rjp-label, .rjp-info{
    font-family: trim-semibold;
    font-size: 17px;
    font-weight:900;
   
}
#rj-player .rjp-label{
    font-size: 17px;
}
#rj-player .player-v3 .rjp-label{
color: black;
}

a, a:hover{
    color: inherit;
}
.fa, .fab, .fad, .fal, .far, .fas{
    line-height: 1.8;
}

.fa-facebook-f::before, .fa-facebook::before {
    content: "\f39e";
}
#rj-player .rjp-player-container .jp-volume-bar-wrapper{
    background: transparent;
}

#timeBox{
    margin-left: 25px;
    margin-bottom: 20px;
}

a.jp-mute{
    font-size: 25px;
}

#rj-chat{
    margin-left: 20px;
}

.marginTopChat{
    padding-top: 104px;
    padding-left: 10.5%;
}

iframe{
    position: absolute;
    font-family: 'Source Code Pro', monospace;
}

.modal-content h1 {
    font-family: trim-semibold;
}

.modal-content p {
    font-family: 'Source Code Pro', monospace;
}

h2#zoneText.changeZoneClass{
    font-size: 2.6rem;
}

img{
    margin-top: -22px;
}

div.modal-content{
    padding-top: 5%;
}

.input-txt::placeholder  {
    font-family: trim-semibold;
    font-weight: bold;
  }

  #rj-player .rjp-player-container .jp-volume-bar-value {
    background: #ffffff;
    height: 10px;
    height: 10;
    /* margin-bottom: 20px; */
    margin-top: -30px;
    /* margin-left: -20px; */
  }

  #rj-player .rjp-player-container .jp-mute, #rj-player .rjp-player-container .jp-unmute {
    line-height: 1.5;
    bottom: 38px;
    background: transparent;
    width: 40px;
}

#footerText{
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    margin-top: 7%;
}

img#sponsor_img_zone{
    width: 91%;
    margin-left: 3.1%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    img#sponsor_img_zone{
        margin-top: 10%;
    }
    div#social-media{
        margin-top: -17%;
        display: flex;
        margin-left: 30%;
    }
    a.socialMediaClass{
        flex-grow: 0.5;
    }
    iframe{
        position: relative  !important;
    }
}

